### 0. 데이터 불러오기

In [19]:
import numpy as np
import pandas as pd
import seaborn as sns 

file = "../../data/hn23_all.csv"

data_2023 = pd.read_csv(file)

data_2023.head(5)

C:\Users\hys03\AppData\Local\Temp\ipykernel_7284\3608910723.py:7: DtypeWarning: Columns (79,175,229,237,321,326,331,332,366) have mixed types. Specify dtype option on import or set low_memory=False.
  data_2023 = pd.read_csv(file)

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,N_CAROT,N_RETIN,N_B1,N_B2,N_NIAC,N_FOLATE,N_VITC,LF_SECUR_Y,LF_BUYER,LF_SAFE
0,2024.12.10.,YA84208301,YA842083,2023.0,1.0,1.0,2.0,YA84,1.0,75.0,...,2704.555129,22.304061,0.689636,0.911565,4.519287,108.528994,29.390490,1.0,1.0,1.0
1,2024.12.10.,YA84208302,YA842083,2023.0,1.0,1.0,2.0,YA84,2.0,70.0,...,1190.505880,44.455061,1.010501,0.839130,6.333379,52.454348,15.650710,1.0,1.0,1.0
2,2024.12.10.,YA84212402,YA842124,2023.0,1.0,1.0,2.0,YA84,2.0,42.0,...,6752.011600,364.273465,1.839332,3.257774,24.363661,231.528144,35.242941,1.0,1.0,2.0
3,2024.12.10.,YA84212404,YA842124,2023.0,1.0,1.0,2.0,YA84,2.0,9.0,...,2213.362823,893.834459,1.873845,2.962366,22.194257,374.230895,69.595766,1.0,1.0,2.0
4,2024.12.10.,YA84242702,YA842427,2023.0,1.0,1.0,2.0,YA84,1.0,43.0,...,2136.906180,309.283062,1.086500,2.021552,10.360013,366.058694,65.171145,1.0,1.0,1.0

총 629 columns

- 0 ~ 297 : 건강설문조사

- 298 ~ 545 : 검진기본조사

- 546 ~ 628 : 영양조사

In [ ]:
print(data_2023.columns.get_loc("HE_fst"))
print(data_2023.columns.get_loc("L_BR"))

# 298 컬럼부터 검진기본조사
# 546 컬럼부터 영양조사임

298
546

### 1. 기본 변수

- ID : 개인 아이디
- ID_fam : 가구 아이디
- region : 17개 시도
- town_t : 1. 동, 2. 읍면
- apt_t : 1. 일반, 2. 아파트
- psu : 조사한 구 번호
- sex : 1. 남자, 2. 여자
- age_month : 월령
- incm : 소득 4분위 수 (개인)
- ho_incm : 소득 4분위 수 (가구)
- incm5 : 소득 5분위 수 (개인)
- ho_incm5 : 소득 5분위 수 (가구)
- edu : 1. 초졸 이하, 2. 중졸, 3. 고졸, 4. 대졸이상
- occp : 1. 관리자, 전문가 및 관련 종사자, 2. 사무종사자, 3. 서비스 및 판매 종사자, 4. 농림어업 숙련 종사자, 5. 기능원, 장치-기계조작 및 조립 종사자, 6. 단순노무 종사자, 7. 무직(주부, 학생 등)

In [21]:
cols = ["mod_d", "year", "wt_hs", 
        "wt_itvex", "wt_oe", 
        "wt_ntr", "wt_tot", 
        "wt_oent", "kstrata"]

data_2023.drop(columns = cols, inplace = True, axis = 1)

data_2023.head(5)

,ID,ID_fam,region,town_t,apt_t,psu,sex,age,age_month,incm,...,N_CAROT,N_RETIN,N_B1,N_B2,N_NIAC,N_FOLATE,N_VITC,LF_SECUR_Y,LF_BUYER,LF_SAFE
0,YA84208301,YA842083,1.0,1.0,2.0,YA84,1.0,75.0,NaN,3.0,...,2704.555129,22.304061,0.689636,0.911565,4.519287,108.528994,29.390490,1.0,1.0,1.0
1,YA84208302,YA842083,1.0,1.0,2.0,YA84,2.0,70.0,NaN,3.0,...,1190.505880,44.455061,1.010501,0.839130,6.333379,52.454348,15.650710,1.0,1.0,1.0
2,YA84212402,YA842124,1.0,1.0,2.0,YA84,2.0,42.0,NaN,2.0,...,6752.011600,364.273465,1.839332,3.257774,24.363661,231.528144,35.242941,1.0,1.0,2.0
3,YA84212404,YA842124,1.0,1.0,2.0,YA84,2.0,9.0,NaN,2.0,...,2213.362823,893.834459,1.873845,2.962366,22.194257,374.230895,69.595766,1.0,1.0,2.0
4,YA84242702,YA842427,1.0,1.0,2.0,YA84,1.0,43.0,NaN,4.0,...,2136.906180,309.283062,1.086500,2.021552,10.360013,366.058694,65.171145,1.0,1.0,1.0

1. 가구조사
2. 이환
    1. 주관적 건강상태
    2. 고혈압
    3. 이상지질혈증
    4. 당뇨병
    5. 천식
    6. 아토피피부염
    7. 알레르기비염
    8. 부비동염
    9. 중이염
    10. 콩팥병
    11. 폐쇄성수면무호흡증
3. 의료이용
4. 예방접종 및 건강검진
5. 활동 제한 및 삶의 질
6. 손상(사고 및 중독)
7. 입원 및 외래이용
8. 교육
9. 경제활동
10. 비만 및 체중조절
11. 음주
12. 안전의식
13. 수면건강
14. 정신건강
15. 흡연
16. 신체활동
17. 여성건강